/* Root header container */
.header-bar {
  position: fixed ;
  top: 0;
  right:0;
  left: 0;
  background-color: #f4f6f8;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  height: 70px;
  z-index:9;
}
.header-left{
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-left img{
  margin-right: 110px;
  margin-left: 80px;
}

/* Add shadow when scrolled */
.header-bar.scrolled {
  background: rgba(255, 255, 255, 0.1); /* translucent white */
  backdrop-filter: blur(10px);          /* blur the background */
  -webkit-backdrop-filter: blur(10px);  /* Safari support */
  transition: background 0.3s ease, box-shadow 0.3s ease;
}


.page-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  transition: margin-left 0.3s ease;
}

/* Desktop spacing */
.expanded-margin {
  margin-left: 260px;
}

.collapsed-margin {
  margin-left: 100px;
}

/* Mobile (no margin) */
.mobile-title {
  margin-left: 0;
}

/* Header buttons + language */
.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  margin-right:3rem;
  flex-wrap: nowrap;
}

/* hamburger (little side bar open)*/
.hamburger-toggle {
  background-color: #f0f0f0;
  border: none;
  padding: 4px 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  color: #333;
  font-weight: 500;
  transition: background-color 0.3s;
}


.hamburger-toggle:hover {
  background-color: #e0e0e0;
}

/* Hamburger only shows on mobile */
.hamburger-toggle {
  display: none;
}

/* Language dropdown */
.lang-selector {
  position: relative;
}

.lang-current {
  cursor: pointer;
  font-size: 0.95rem;
  padding: 4px 6px;
    border-radius: 6px;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s;
  font-weight: 500;
}
.lang-current:hover {
  background-color: #eaeaea;
}

.lang-dropdown {
  position: absolute;
  right: -30%;
  top: 100%;
  background-color: #cbcbcb;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 5px;
  list-style: none;
  padding: 8px 0;
  width: max-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.lang-dropdown li {
  padding: 8px 30px;
  cursor: pointer;
  transition: background 0.2s;
}
.lang-dropdown li:hover {
  background-color: #f0f0f0;
}
.lang-dropdown li.active {
  font-weight: bold;
  color: #2196f3;
}

/* Mobile layout */
@media (max-width: 768px) {

  .header-bar {
    z-index: 9;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .header-left{
    gap: 5px;
    margin-left: 0;
  }
  .header-left img{
    margin-right: 0;
    margin-left: 0;
  }
  .page-title {
    font-size: 1.2rem;
  }

  .header-actions {
    gap: 5px;
    margin-right: 0;
  }
  .lang-dropdown{
    right: 0;
  }
  .lang-dropdown li {
    padding: 8px 28px;
  }

  .hamburger-toggle {
    display: inline-block;
  }
}